.DS_Store
.vscode
.idea/
*.iml
*.ipr
*.iws
*.DS_Store
*.swp
*.swo
*.swn
*.tmp
*.log
*.lock
*.pid
*.env
*.env.*
.metadata/
.project
.cproject
.classpath
.settings/
bin/
target/
.git/
node_modules/
**/logs
*.log
